.custom-text {
  font-family: Montserrat;
  font-size: clamp(1rem, 2.5rem, 2.5rem);
  font-style: normal;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}
.purple-text {
  color: #8e7dff;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: bolder;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}
.thick-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 61px;
  color: #222222;
}
.black-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  line-height: 61px;
  color: #222222;
}
