.purple-btn {
  font-family: "Montserrat", sans-serif;
  width: 17.5625rem;
  height: 73px;
  left: 107px;
  top: 370px;
  background: #8e7dff;
  border-radius: .75rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0em;
}
