.navbar-collapse {
  width: 100%;
  justify-content: flex-end;
}
.navbar {
  height: 10rem;
}
.navbar-toggler {
  background-color: blue;
}
.brand-container {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.atomIcon {
  margin-right: 2rem;
}
.nav-link,
.brand-name {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}
.nav-link {
  margin-right: 3rem;
}
