.lead {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
  letter-spacing: -0.01em;
  text-align: left;
  color: #8b8b8b;
}
